@import '../../styles/container';
@import '../../styles/colors';

.aboutWrapper{
    margin: 0px;
    padding: 60px 0px;
}

.aboutContainer{
    @include container-400;
}

.aboutIntroduction{
    display: flex;
    flex-wrap: nowrap;
    padding: 60px 20px;
    flex-direction: column;
}

.aboutIntroduction h4{
    font-weight: 600;
    font-size: 14px;
    color: $text-secondColor;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.aboutIntroduction h2{
    font-size: 32px;
    color: $text-primaryColor;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutIntroduction a{
    width: 150px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    color: $text-white;
    text-align: center;
    border-radius: 0.2rem;
    background: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutIntroduction a:hover{
    background: $secondary-color;
}

.aboutContent{
    padding: 20px 10px;
}

.aboutCard{
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
}

.aboutIcon{
    width: 50px;
    height: 50px;
}

.aboutContext{
    padding: 0px 20px;
}

.aboutContext h2{
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $secondary-color;
    font-family:Arial, Helvetica, sans-serif;
}
.aboutContext p{
    font-size: 14px;
    font-weight: 400;
    color: $text-secondColor;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1440px) {
    .aboutContainer{
        @include container-200;
    }
}


@media only screen and (max-width: 1024px) {

    .aboutWrapper{
        padding: 30px 0px;
    }
    .aboutContainer{
        @include container-100;
    }
    .aboutIntroduction{
        text-align: center;
    }
    .aboutIntroduction h2{
        letter-spacing: 0px;
        margin-bottom: 30px;
    }
    .aboutContent{
        padding: 10px 20px;
    }

}


@media only screen and (max-width: 500px) {

    .aboutWrapper{
        padding: 20px 0px;
    }

    .aboutContainer{
        @include container-0;
    }
    

    .aboutContent{
        padding: 0px;
    }

}