.navTitle{
    font-size: 28px;
    color: #050505 !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.navTitleScroll{
    font-size: 28px;
    color: #0073e6 !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.navBarBack{
    -webkit-transition:background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00,00,00,0.0) !important;
}
.navBarBackScroll{
    -webkit-transition:background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.navBarItems{
    text-decoration: none !important;
    font-size: 18px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.navBarItemsScroll{
    text-decoration: none !important;
    font-size: 18px;
    color: #0073e6 !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}