@import '../../styles/colors.scss';
@import '../../styles/container';
@import '../../styles/colors';

.testimonialWrapper{
    background-image: url('../../../public/Image/Banner-03.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonialOverlay{
    position:absolute;
    height: 600px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.testimonialContainer{
    @include container-400;
    display: flex;
    padding: 100px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.testimonialContent{
    display: flex;
    text-align: left;
    padding: 0px 30px;
    flex-direction: column;
}

.testimonialContent h2{
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 40px;
    margin-bottom: 20px;
    color: $text-white;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonialContent p{
    font-size: 16px;
    font-weight: 500;
    color: $text-white;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.testimonialContent a{
    width: 150px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    color: $text-white;
    text-align: center;
    border-radius: 0.2rem;
    background: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonialContent a:hover{
    background: $secondary-color;
}


.testimonialScroller{
    text-align: left;
}

.testimonialScrollerTitle{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px !important;
}

.testimonialScrollerBody{
    width: 36rem;
    height: auto;
    background:#fff;
    border-radius: 10px;
    padding: 20px;
}

.testimonialScrollerBody .slick-arrow{
    display: none !important;
}

.testimonialScrollerItem p{
    font-size: 16px;
    margin-bottom: 30px;
}

.testimonialScrollerItem h3{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 600;
}

.testimonialScrollerRating{
    margin: 10px 0px !important;
}

.testimonialScrollerBody .slick-dots{
    bottom: 10px !important;
    text-align: right !important;
}

@media only screen and (max-width: 1440px) {
    .testimonialContainer{
        @include container-100;
    }
}

@media only screen and (max-width: 1024px) {
    .testimonialWrapper{
        height: 800px;
    }
    
    .testimonialOverlay{
        height: 800px;
    }

    .testimonialContainer{
        @include container-50;
        padding: 5%;
        flex-direction: column;
    }

    .testimonialContent{
        padding: 0px 10px;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 390px) {
    .testimonialWrapper{
        height: 900px;
    }
    
    .testimonialOverlay{
        height: 900px;
    }

    .testimonialContainer{
        @include container-0;
    }

    .testimonialContent{
        padding: 10px;
    }

    .testimonialContent h2{
        font-size: 36px;
    }

    .testimonialScrollerBody{
        width: 20rem;
        border-radius: 10px;
        padding: 20px;
    }
}