@import '../../styles/container';
@import '../../styles/colors';

.expertiseWrapper{
    margin: 0px;
    padding: 100px 0px;
}

.expertiseContainer{
    @include container-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expertiseIntroduction{
    display: flex;
    flex-wrap: nowrap;
    padding: 60px 20px;
    flex-direction: column;
}

.expertiseIntroduction h4{
    font-weight: 600;
    font-size: 14px;
    color: $text-secondColor;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.expertiseIntroduction h2{
    font-size: 32px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: -2px;
    color: $text-primaryColor;
    font-family: Arial, Helvetica, sans-serif;
}

.expertiseIntroduction a{
    width: 150px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    color: $text-white;
    text-align: center;
    border-radius: 0.2rem;
    background: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

.expertiseIntroduction a:hover{
    background: $secondary-color;
}

.expertiseContent{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.expertiseContext{
    padding: 0px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.expertiseProgressBar{
    width: 170px;
    height: 170px;
    margin: 0px
}

.expertiseContext h2{
    font-size: 24px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
}
.expertiseContext p{
    font-size: 16px;
    color: #707070;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}


@media only screen and (max-width: 1440px) {
    .expertiseContainer{
        @include container-100;
    }
}


@media only screen and (max-width: 1024px) {
    .expertiseWrapper{
        padding: 50px 0px;
    }
    .expertiseIntroduction{
        align-items: center;
    }
    .expertiseContainer{
        @include container-50;
        flex-direction: column;
    }
    .expertiseIntroduction{
        padding: 60px;
        text-align: center;
    }
    .expertiseIntroduction h2{
        margin-bottom: 40px;
    }
    .expertiseContent{
        padding: 40px;
    }
}


@media only screen and (max-width: 390px) {
    .expertiseWrapper{
        padding: 50px 0px;
    }
    .expertiseContainer{
        @include container-0;
    }
    .expertiseIntroduction{
        padding: 20px;
    }
    .expertiseContent{
        padding: 60px 20px;
        flex-direction: column;
    }
}