.infoDisplayWrapper{
    display: flex;
    margin: 20px 10px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.infoDisplayCard{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 20px;
    background: #eeeeee;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
}

.infoDisplayItem{
    display: flex;
    justify-content: flex-start;
}

.infoDisplayItem h4{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px;
}

.infoDisplayItem h6{
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0px;
}

.infoAction{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.infoActionBtn{
    padding-top: 10px;
    margin: 0px 10px;
    cursor: pointer;
}