.footerWrapper{
    background: #262b35;
    height: 300px;
    padding: 40px 220px;
}

.footerHeader{
    font-size: 28px;
    color: #fafafa;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0px;
}

.footerSection p{
    color: #fdfdfd;
    font-size: 14px;
}

.footerSection span{
    color: #8890a4;
    font-size: 12px;
}

.footerSection h4{
    color: #fdfdfd;
}

.footerSection ul{
    padding: 0px;
}

.footerSection ul>li{
    list-style: none;
    margin-bottom: 10px;
}

.footerSection ul>li a{
    color: #8890a4;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.footerSection ul>li a:hover{
    color: #fcfcfc;
}