.partnerWrapper{
    padding: 100px 300px;
    background: #f3f3f3;
    text-align: center;
}

.partnerItem{
    margin: 10px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .partnerWrapper{
        padding: 100px;
    }

    .partnerItem{
        padding: 0px 20px;
    }
}


@media only screen and (max-width: 500px) {
    .partnerWrapper{
        padding: 50px;
    }

    .partnerItem{
        padding: 0px 80px;
    }
}