@import '../../styles/colors.scss';

.topCarousel{
    height: 100vh;
}

.topBannerWrapper{
    width: 100%;
    height: 100%;
}

.topFixedBanner{
    // background-image: url('../../../public/Image/main.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.topBannerImage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.topBannerOverlay{
    position:absolute;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.topContent{
    margin: 15rem 25rem;
    text-align: center;
}

.topTitle{
    font-size: 42px;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.topSubTitle{
    font-size: 18px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.topButton{
    color: #ffffff;
    background: $primary-color;
}