.dashboardWrapper{
    height: 80vh;
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    background: #fff;
    margin: 0px 20px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
}

.dashboardFormWrapper{
    margin: 0px 20px;
    width: 700px;
}

.dashboardFormWrapper h2{
    font-size: 18px;
    padding: 20px 0px;
    font-weight: 600;
}

.dashboardInfoWrapper{
    width: 100%;
    overflow-y: scroll;
}

.dashboardInfoWrapper h2{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px;
}