.infoDisplayWrapper{
    display: flex;
    margin: 20px 10px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.infoDisplayCard{
    padding: 40px;
    margin-bottom: 20px;
    background: #eeeeee;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
}

.infoDisplay{
    display: flex;
    justify-content: flex-start;
}

.infoDisplay h4{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px;
}

.infoDisplay h6{
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0px;
}