.projectCarouselWrapper{
    background: #f3f3f3;
    padding: 100px;
}

@media only screen and (max-width: 1024px) {
    .projectCarouselWrapper{
        padding: 100px 20px;
    }

}


@media only screen and (max-width: 500px) {
    .projectCarouselWrapper{
        padding: 100px 10px;
    }
}