@import '../../styles/colors.scss';

.navBar{
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 10px;
    z-index: 1030;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background: #fdfdfd;
}
.navTitle{
    margin: 0px;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: $primary-color !important;
    font-family:Arial, Helvetica, sans-serif;
}
.navItemList{
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.navItem{
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
    text-decoration: none !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

















.navTitleScroll{
    font-size: 28px;
    color: #0073e6 !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.navBarBack{
    -webkit-transition:background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00,00,00,0.0) !important;
}
.navBarBackScroll{
    -webkit-transition:background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.navBarItems{
    text-decoration: none !important;
    font-size: 18px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.navBarItemsScroll{
    text-decoration: none !important;
    font-size: 18px;
    color: #0073e6 !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}