@import '../../styles/container';

.allServiceWrapper{
    padding: 60px 0px;
    border-bottom: 2px solid #e1e1e1;
}

.allServiceContainer{
    @include container-400;
}

.allServiceWrapper h2{
    font-size: 42px;
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.allServiceDescribtion{
    margin-bottom: 40px;
    font-size: 16px;
    color: #707070;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    padding: 0px 40px;
}

.allService{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 1440px) {
    .allServiceWrapper{
        padding: 60px 0px;
    }
    .allServiceContainer{
        @include container-200;
    }
}


@media only screen and (max-width: 1024px) {

    .allServiceWrapper{
        padding: 60px 0px;
    }
    .allServiceContainer{
        @include container-50;
    }

    .allServiceDescribtion{
        padding: 0px 40px;
    }

    .allService{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {

    .allServiceContainer{
        @include container-0;
    }

    .allServiceDescribtion{
        padding: 0px 20px;
    }


}