@import '../../styles/colors.scss';

.serviceCard{
    height: auto;
    width: 20rem;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 0.2rem;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.4);
}
.serviceCard:hover{
    box-shadow: 0 0 12px 0 rgba(0,115,230,0.4);
}
.serviceImage{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.serviceCardBody{
    margin: 20px 10px;
}

.serviceTitle{
    font-size: 18px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    color: $text-primaryColor;
}
.servicesDescribtion{
    font-size: 14px;
    color: $text-secondColor;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.serviceButton{
    padding: 2px 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 0.2rem;
    text-transform: none;
    background: $secondary-color;
    border: 1px solid $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}
.serviceButton:hover{
    color: $primary-color;
    background: transparent;
}