@import '../../styles/colors.scss';
@import '../../styles/container';
@import '../../styles/colors';

.memberWrapper{
    padding: 100px 0px;
}

.memberContainer{
    @include container-400;
}

.memberIntroduction{
    display: flex;
    flex-direction: column;
}

.memberHeading{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $text-secondColor;
    text-transform: uppercase;
}

.memberTitle{
    font-size: 32px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: -2px;
    color: $text-primaryColor;
    font-family: Arial, Helvetica, sans-serif;
}

.memberDescribtion{
    font-size: 16px;
    margin-bottom: 40px;
    color: $text-secondColor;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.memberButton{
    width: 200px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    color: $text-white;
    text-align: center;
    border-radius: 0.2rem;
    background: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

.memberButton:hover{
    background: $secondary-color;
}

.memberSlider{
    padding: 0px 40px;
    text-align: center;
}

.memberCrad{
    width: 100%;
    padding: 0px 10px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.memberImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
}

.memberProfileTitle{
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
    color: $text-primaryColor;
    font-family:Arial, Helvetica, sans-serif;
}

.memberProfileDesignation{
    margin: 0px;
    font-size: 14px;
    color: $text-primaryColor;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.memberProfileDescribtion{
    font-size: 12px;
    color: $text-secondColor;
    margin-bottom: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


@media only screen and (max-width: 1440px) {
    .memberContainer{
        @include container-100;
    }
}

@media only screen and (max-width: 1024px) {
    .memberContainer{
        @include container-50;
    }
    .memberIntroduction{
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .memberImage{
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 390px) {
    .memberContainer{
        @include container-0;
    }

    .memberIntroduction{
        margin-bottom: 50px;
        padding: 0px 20px;
    }

    .memberTitle{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .memberImage{
        margin-bottom: 20px;
    }
}